<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="zh-TW"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="zh-TW"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="zh-TW"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="zh-TW"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>PARTNER STUDIO</title>
    <meta name="google" value="notranslate" />
    <meta name="description" content="Patrick Wang 的作品集" />
    <meta name="author" content="patw (Patrick Wang)" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta property='og:title' content="PARTNER STUDIO" />
    <meta property='og:image' content='http://patw.idv.tw/img/fb_image.jpg' /> 
    <meta property='og:description' content="PARTNER STUDIO - patw (Patrick Wang)'s Portfolio" />
    <meta property='og:url' content='http://patw.idv.tw/' /> 
    <link rel="shortcut icon" href="http://patw.idv.tw/favicon.ico" />
    <link rel="image_src" type="image/jpeg" href="http://patw.idv.tw/img/fb_image.jpg"/> 
    <link rel="canonical" href="http://patw.idv.tw/" />

    <% if ENV["RACK_ENV"] == "production" %>
    <link rel="stylesheet" href="/min/f=css/style.css,css/main.css,css/galleriffic.css,css/nivoslider/dark/dark.css,css/nivoslider/nivo-slider.css" />
    <% else %>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/galleriffic.css" />
    <link rel="stylesheet" href="css/nivoslider/dark/dark.css" />
    <link rel="stylesheet" href="css/nivoslider/nivo-slider.css" />    
    <% end %>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <script type="text/javascript" src="js/libs/unitpngfix.js"></script>
    <![endif]-->
</head>
<body>
    <div id="fb-root"></div>

    <div id="html5Loader"></div>

    <!-- // NAV // -->
    <nav id="nav">
        <ul>
            <li id="nav1"><a href="#home">home</a></li>
            <li id="nav2"><a href="#about">about</a></li>
            <li id="nav3"><a href="#portfolio">portfolio</a></li>
            <li id="nav5"><a href="#contact">contact</a></li>
            <li id="qrcode"></li>
        </ul>
    </nav>
    <!-- // NAV END // -->


    <div class="mainContainer">

        <div class="container">
        
            <!-- // header: 首頁 // -->
            <header id="home" class="sections" data-speed="16" data-type="background">
                <div id="sitename" data-type="element" data-speed="12">
                    <h1 class="sitename">PARTNER STUDIO</h1>
                    <p class="subtitle">Patrick Wang's Portfolio</p>
                </div>
                <div id="social-like">
                    <div id="facebook-like"><div class="fb-like" data-href="http://patw.idv.tw/" data-send="false" data-layout="button_count" data-width="88" data-show-faces="false"></div></div>
                    <div id="googleplus-like"><div class="g-plusone" data-size="medium" data-href="http://patw.idv.tw/"></div></div>
                </div>
                <p class="tip">Using Chrome, Fx, IE10+ with 1920x1080 screen resolution to browse is recommended.</p>
            </header>
            <!-- // header end // -->
            
            <!-- // section2: 關於 // -->
            <section id="about" class="sections" data-speed="8" data-type="background">
                
                <h1>About</h1>
                
                <div id="cloud1" class="pngfix"></div>
                <div id="cloud2" data-type="element" data-speed="16" data-offsetY="200" class="pngfix"></div>
                
                <div id="profile_name" data-type="element" data-speed="18" data-offsetY="200" class="pngfix">
                    <h2>Patrick Wang</h2>
                </div>
                
                <div id="profile_picture" data-type="element" data-speed="22" data-offsetY="198">
                    <img src="img/patw.jpg" alt="Patrick Wang" />
                </div>
                
                <div id="profile_intro">
                <p>我是 patw，因為不知道怎麼念，所以你也可以叫我小p。</p>
                <p>1985 年生。喜歡攝影、旅遊、慢跑、看電影、郭采潔、棉花糖、海賊王、寫網頁、研究有的沒的。</p>
                <p>元智大學資訊傳播學系網路傳播組畢、役畢、單身。</p>
                <p>住在海邊，最喜歡在頂樓靜靜享受夕陽慢慢沒入海面的一刻。</p>
                <p>2010 ~ 2013 年在網路廣告代理商作 SA 兼趕案工程師… 寫 ASP.NET(C#), PHP, JavaScript, 串 FB, 專案控管等等的，而最厲害的技能是睡鐵櫃。目前是個前端工程師 (Front-end Developer)。</p>
                </div>
                
                <div id="profile_skills" data-type="element" data-speed="20" data-offsetY="290" class="pngfix">
                    <h2>SKILLS</h2>
                    <p>ASP.NET(C#), ASP.NET MVC, HTML, SCSS, jQuery, Facebook SDK, Google Analytics, PHP, CodeIgniter, Git, Rails. (I'm still a newbie :P)</p>
                </div>
                
                <div id="profile_experience" data-type="element" data-speed="25" data-offsetY="455" class="pngfix">
                    <h2>WORK EXPERIENCE</h2>
                    <p><strong>iPrefer Digital Integrated Marketing</strong><br />
                    System Analyst &amp; Web Developer<br />
                    March 2011 - March 2013</p>
                    
                    <p><strong>iPrefer Digital Integrated Marketing</strong><br />
                    Web Developer<br />
                    March 2010 - March 2011</p>
                </div>

            </section>
            <!-- // section2 end // -->

            <!-- // section3: 作品 // -->
            <section id="portfolio" class="sections" data-speed="8" data-type="background">
            
                <h1>Portfolio</h1>
                
                <div id="gallery-container">
                    
                    <!-- 燈箱展示容器 -->
                    <div id="section_work">
                        <div class="work_wrapper" id="pro_container">
                            <div id="work_wrapper_ajax">
                            
                            </div>
                        </div>
                    </div>
                    <!-- 燈箱展示容器 -->
                    
                    <!-- 主圖與簡介 -->
                    <div id="gallery" class="portfolio-content">
                        <div class="slideshow-container">
                            <div id="loading" class="loader"></div>
                            <div id="slideshow" class="slideshow"></div>
                        </div>
                        <div id="caption" class="caption-container"></div>
                    </div>
                    <!-- 主圖與簡介 -->

                    <!-- 縮圖列表 -->
                    <div id="thumbs" class="navigation"></div>
                    <!-- 縮圖列表 -->

                </div>
                <!-- end gallery-container -->

            </section>
            <!-- // section3 end // -->
            
            <!-- // section4: 聯絡 // -->
            <section id="contact" class="sections" data-speed="34" data-type="background">
                
                <div id="moon">
                    <img src="img/moon.png" alt="月亮轉啊轉" />
                </div>
                
                <div id="contact_info">
                    <h1>Contact</h1>
                    <div>
                        <span>E-mail: <a href="mailto:patw.hi@gmail.com" class="email">patw.hi@gmail.com</a></span>
                        <span>Blog: <a href="http://patw.idv.tw/blog/" target="_blank" class="blog">http://patw.idv.tw/blog/</a></span>

                        <div id="contact_icons">
                            <a class="linkedin" href="http://tw.linkedin.com/pub/patrick-wang/38/584/6ba" target="_blank">Linkedin</a> 
                            <a class="flickr" href="http://www.flickr.com/photos/patw/" target="_blank">Flickr</a> 
                            <a class="googleplus" href="https://plus.google.com/u/0/117736456035860607985?rel=author" target="_blank">Google+</a> 
                            <a class="github" href="https://github.com/patw0929" target="_blank">Github</a> 
                            <a class="bbs" href="telnet://patw.idv.tw" target="_blank">BBS</a>
                        </div>
                    </div>
                </div>
                
            </section>
            <!-- // section4 end // -->

        </div>
    
    </div>

<script type="text/template" id="portfolio-template">

    <ul class="thumbs noscript">
        <%% _.each(datas, function (data) { %>
        <li>
            <a class="thumb portfolio-sprite portfolio-p<%%= data.get('id')%>" href="portfolio/<%%= data.get('id')%>/main.jpg" data-url="portfolio/<%%= data.get('id')%>/" title="<%%= data.get('title')%>"><%%= data.get('title')%></a>
            <div class="caption">
                <div class="image-title"><%%= data.get('title')%></div>
                <div class="image-desc"><%%= data.get('description')%></div>
            </div>
        </li>
        <%% }); %>
    </ul>

</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.9.1.min.js"><\/script>')</script>

<!-- facebook jssdk -->
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=276630085773788";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!-- facebook jssdk -->

<!-- google plus +1 button -->
<script type="text/javascript">
  window.___gcfg = {lang: 'zh-TW'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = '//apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<!-- google plus +1 button -->

<% if ENV["RACK_ENV"] == "production" %>
<script src="/min/b=js&amp;f=libs/jQuery.html5Loader.min.js,libs/jQuery.html5Loader.circular.js,libs/underscore-min.js,libs/backbone-min.js,libs/jquery.easing.1.3.js,libs/slides.min.jquery.js,libs/jquery.galleriffic.js,libs/jquery.opacityrollover.js,libs/nivoslider/jquery.nivo.slider.pack.js,script.js,portfolio.js"></script>
<% else %>
<script src="js/libs/jQuery.html5Loader.min.js"></script>
<script src="js/libs/jQuery.html5Loader.circular.js"></script>
<script src="js/libs/underscore-min.js"></script>
<script src="js/libs/backbone-min.js"></script>
<script src="js/libs/jquery.easing.1.3.js"></script>
<script src="js/libs/slides.min.jquery.js"></script>
<script src="js/libs/jquery.galleriffic.js"></script>
<script src="js/libs/jquery.opacityrollover.js"></script>
<script src="js/libs/nivoslider/jquery.nivo.slider.pack.js"></script>
<script src="js/script.js"></script>
<script src="js/portfolio.js"></script>
<% end %>
<script>
    var _gaq=[['_setAccount','UA-922862-7'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
<%= livereload_js unless ENV['RACK_ENV'] == 'production' %>